altgraph==0.17.5
certifi==2026.6.17
importlib-metadata==8.7.1
numpy==2.0.2
packaging==26.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyside6==6.10.3
pyside6-addons==6.10.3
pyside6-essentials==6.10.3
pywin32-ctypes==0.2.3
shiboken6==6.10.3
zipp==3.23.1
